
<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
  
  <div class="col">
    <h3>Personajes</h3>
    <hr>
    <ul>
      <!-- el "| number" le decimos que se muestre en la vista como un numero  -->
      <!-- | es un pipe y en angular se usan para manejar la visual de la información -->
      <li *ngFor="let personaje of personajes">
        {{ personaje.nombre }} - {{ personaje.poder | number }}
      </li>
    </ul>
  </div>

  <div class="col">
    <h3>Agregar <small>{{ nuevo.nombre }}</small> </h3>
    <hr>

    <form (ngSubmit)="agregar()">
      <!-- con las llaves cuadradas le estamos diciendo que puede tomar valores del .ts -->
      <!-- con los parentesis le digo que quiero emitir el evento -->
      <!-- todo esto cambia en tiempo real -->
      <input type="text" 
              placeholder="Nombre"
              name="nombre"
              [(ngModel)]="nuevo.nombre"
      />

      <input type="number" 
              placeholder="Poder" 
              name="poder"
              [(ngModel)]="nuevo.poder"
      />

      <button type="submit">
        Agregar
      </button>
    </form>
  </div>

</div>
